html {
  //zoom: 0.90;
  //-moz-transform: scale(0.90);
  -moz-transform-origin: 0 0;

  //transform: scale(.5);
  //-webkit-transform: scale(.5);
  //-moz-transform: scale(.5);
  //-ms-transform: scale(.5);
  //-o-transform: scale(.5);
}

body {
  ///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bd95bf+0,2b5876+100 */
  //background: #bd95bf; /* Old browsers */
  //background: -moz-linear-gradient(left, #bd95bf 0%, #2b5876 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(left, #bd95bf 0%,#2b5876 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to right, #bd95bf 0%,#2b5876 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd95bf', endColorstr='#2b5876',GradientType=1 ); /* IE6-9 */

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: radial-gradient(circle farthest-corner at 100% 0, #bd95bf, #2b5876);

  font-family: 'Asap-Regular', Helvetica;
}
