{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 1 version",
            "ie 11",
            "> 1%"
          ]
        },
        "modules": "commonjs"
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-class-properties",
    "@babel/plugin-syntax-object-rest-spread"
  ]
}
